
<div id="content">

<%= render :partial => '/nav' %>

<ul class="collection-list">
<% count = 0 %>
<% @collections.each do |collection| %>

	
	<li<% if count % 4 == 0 %> style="clear:left;"<% end %>>
		<a href="/transcriptions/transcribe/<%= collection.id %>">
			<%= image_tag(collection.assets.first.thumb_uri) %> 
		</a>
		<div class="playbill-meta">
			<div><%= collection.assets.size %> page<%= collection.assets.size!=1?'s':'' %></div>
			<div><%= collection.annotations.size %> entit<%= collection.annotations.size!=1 ? 'ies': 'y' %> identified</div>
		</div>
		<a class="transcribe-link" href="/transcriptions/transcribe/<%= collection.id %>">Transcribe</a>
	</li>

	<% count += 1 %>
<% end %>
</ul>

</div>

<div id="footer"></div>

