

<%= render :partial => '/nav' %>

<div class="content-container">
	<ul class="collection-list">
	<% count = 0 %>
	<% @collections.each do |collection| %>

		<% z = collection.assets.size %>
		<li<% if count % 4 == 0 %> style="clear:left;"<% end %>>
			<a href="/transcriptions/transcribe/<%= collection.id %>"> 
				<div class="photo-stack">
					<% collection.assets.each do |asset| %>
						<%= image_tag(asset.thumb_uri, :style => "z-index:#{z}") %> 
						<% z -= 1 %>
					<% end %>
				</div>
			</a>
			<div class="playbill-meta">
				<div><%= collection.assets.size %> page<%= collection.assets.size!=1?'s':'' %></div>
				<div><%= collection.annotations.size %> entit<%= collection.annotations.size!=1 ? 'ies': 'y' %> identified</div>
			</div>
			<a class="transcribe-link" href="/transcriptions/transcribe/<%= collection.id %>">Transcribe</a>
		</li>

		<% count += 1 %>
	<% end %>
	</ul>

	</div>
</div>

<div id="footer"></div>

