
<div id="content">

<ul class="collection-list">
<% @collections .each do |collection| %>

	<li>
		<a href="/transcriptions/transcribe/<%= collection.id %>">
			<%= image_tag(collection.assets.first.uri, :width=>150) %> 
		</a>
		<div class="playbill-meta">
			<div><%= collection.assets.size %> page<%= collection.assets.size!=1?'s':'' %></div>
			<div><%= collection.transcriptions.size %> transcriber<%= collection.transcriptions.size!=1 ? 's': '' %></div>
		</div>
		<a class="transcribe-link" href="/transcriptions/transcribe/<%= collection.id %>">Transcribe</a>
	</li>

<% end %>
</ul>

</div>

<div id="footer"></div>

