<!DOCTYPE html>
<html>
<head>
  <title>Transcribe</title>

  <%= stylesheet_link_tag 'http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' %>

  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.8.3.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.9.2.custom.min' %>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "asset_collections", :media => "all" %>
  <%= stylesheet_link_tag    "styles", :media => "all" %>
  <%= javascript_include_tag "application" %>

</head>
<body>

<%= yield %>

</body>
</html>
