<!DOCTYPE html>
<html>
<head>
  <title>Transcribe</title>
  <%= stylesheet_link_tag    "styles", :media => "all" %>
  <%= stylesheet_link_tag    "transcriptions", :media => "all" %>
  <%= stylesheet_link_tag 'http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' %>

  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.8.3.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.9.2.custom.min' %>
  <%= javascript_include_tag 'jquery.imgareaselect' %>
  <%= javascript_include_tag 'jquery.transcribe' %>
  <%= javascript_include_tag 'playbill-view' %>
  <%= javascript_include_tag 'inline-tutorial' %>

  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

<%= yield %>

<%# render :partial=>"/shared/banner"%>

</body>
</html>
